.products {
  position: relative;
  top: 200px;
  z-index: 0;
}

.products > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 1.5rem;
  justify-content: center;
}

.products__card  {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1.4rem;
  border-radius: 25px;
  background-color: #4b4848 ;
}

.products__card > img {
  width: 100%;
  border-radius: 25px;
}

.product__card__box--flex {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.product__card__box--flex > * {
  flex: 1;
}

.box-info {

}

.box-info__title {
  font-size: 0.8rem;
}