#root {
  
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-search input {
  background-color: #b5c8db;
  color: #918e8e;
  border: 1px solid #b5c8db;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  height: 39.19px;
  box-sizing: border-box;
}
.form-search__error {
  flex-basis: 100%;
  text-align: center;
  color: orangered;
  margin: 0;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: #918e8e;
}
input.error {
  border: 1px solid orangered;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
